* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: yellow;
}

main {
    flex: 1;
    min-width: 74%;
    background-color: pink;
    padding: 20px;
}

aside {
    height: 100vh;
    flex: 1;
    min-width: 26%;
    position: sticky;
    top: 0;
    background-color: lightseagreen;
}

footer {
    max-width: 74%;
    position: sticky;
    bottom: 0;
    background-color: mediumblue;
}

.instrucciones {
    display: flex;
    justify-content: space-between;
    background-color: #333;
}

.instrucciones-box {
    background-color: #fff;
    color: #333;
    padding: 15px 30px;
    flex: 1;
    border-left: 1px solid #707070;
    border-top: 1px solid #707070;
}

.instrucciones-box h3 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.instrucciones-box p {
    font-size: 0.9rem;
}